.main__content {
    background-image: url('../assets/index_bg-3.jpg');
    background-attachment: fixed;
}

.carousel {
    min-width: 500px;
    transition: 1s all;
}

.carousel-caption button {
    width: 25%; 
}

.ubication {
    background-color:firebrick;
}

.news__container {
    background-color: chocolate;
}

.news__galery div img {
    width: 100%;
} 

.news__galery div img:hover {
    transition: 0.3s all;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 1px rgb(39, 39, 39);
}

.news__galery div h6 {
    color:maroon;
}

.ubication input::placeholder {
    font-weight: bolder;
    color: rgba(160, 81, 45, 0.678);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ubication input:focus {
    outline: none;
    border: none;
}

.ubication input {
    font-weight: bold;
    color:maroon;
}

.testimonies--container {
    background-color: tomato;
}

.testimony {
    color: black;
    background-color :blanchedalmond;
}

.testimony p {
    color: black;
}

.testimony__body p{
    color: sienna;
}

.testimony img {
    max-width: 10%;
    min-width: 100px;
}

.stats {
    background-color:brown;
}