footer {
    background-color:maroon;
}


.footer__nav {
    padding-left: 0px;
}

.footer__nav li a {
    font-size: small;
    color: blanchedalmond;
    text-decoration: none;
}

.download--advise {
    color: blanchedalmond;
}

.download img {
    width: 20%;
}