header .navbar {
    background-color:orangered;
    font-family: $navbar--font;

    &__nav {
        @include flex(row, start, start, 2em)
    }

    &--logo {
        width: 3em;
    }

    &__nav__item__link {
        color: white;
    }
}

.offcanvas--logo {
    width: 10em;
}

.offcanvas__menu__current {
    border-bottom: 2px solid black;
}

.offcanvas__menu__social--media {
    padding-left: 0px;
    @include flex(row, start, start, 2em)
}