@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Mitr:wght@300&display=swap');

header .navbar {
    background-color:orangered;
    font-family: $navbar--font;
}

.nav__menu__item__link {
    color: white;
}

.navbar--logo {
    width: 3em;
}

.offcanvas--logo {
    width: 10em;
}

.current {
    border-bottom: 2px solid black;
}

.nvbar--social_media__links {
    padding-left: 0px;
}