header .navbar {
    background-color:orangered;
}

.nav__menu__item__link {
    color: white;
}

.navbar--logo {
    width: 3em;
}

.offcanvas--logo {
    width: 10em;
}

.current {
    border-bottom: 2px solid black;
}

.nvbar--social_media__links {
    padding-left: 0px;
}