* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: fit-content;
    width: fit-content;
    background-image: url('../assets/body-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

ul {
    list-style: none;
    padding-left: 0px;
}



/* -------------------------------NAV-------------------------------*/


header .navbar {
    background-color: crimson;
}

.nav__menu__item__link {
    color: white;
}

.navbar--logo {
    width: 3em;
}

.offcanvas--logo {
    width: 10em;
}

.current {
    border-bottom: 2px solid black;
}

.nvbar--social_media__links {
 padding-left: 0px;
}

/* -------------------------------MAIN-------------------------------*/

.card {
    height: fit-content;

}

/* -------------------------------FOOTER-------------------------------*/

footer {
    background-color: darkred;
}


.footer__nav {
    padding-left: 0px;
}

.download img {
    width: 20%;
}

@media all and (max-width:992px) {
    .testimonies {
        background-image: url('../assets/testimonies-mxwdthlg--bg.jpg');
        background-attachment: fixed;
    }
}

@media all and (min-width: 992px) {

    .carousel {
        width: 75%;
    }

    .testimony img {
        width: 25%;
    }

    .download img {
        width: 10%;
    }

    .main--card__image {
        width:100%;
        height: 50em;
    }

    .card--group {
        width: 80%;
    }
    
}

@media all and (max-width: 1200px) {
    .social_media__links {
        padding-left: 0px; 
    }

    .social_media__links li i {
        font-size: 25px
    }
}

@media all and (max-width:762px) {

    .download img {
        width: 30%;
    }
}

